
   .b1 {
    background: navy; /* Синий цвет фона */
    color: white; /* Белые буквы */
    font-size: 9pt; /* Размер шрифта в пунктах */
   }
    .b2 {
         background: red; /* Синий цвет фона */
         color: white; /* Белые буквы */
         font-size: 9pt; /* Размер шрифта в пунктах */
   }
    .Empty {
        width:0; /* Синий цвет фона */
         height: 0; /* Белые буквы */

   }