<html>
    <head>
    </head>
    <body>
   <form action="/registration" method="POST">
<h1>(Логин должен быть более 5 символов)</h1>
        <p></p>
      <h1>Введите логин:</h1>
<input name="login">
<h1>(Пароль должен быть более 5 символов)</h1>
       <p></p>
      <h1>Введите пароль:</h1>
<input name="password">
       <h1>Введите свое имя</h1>
<input name="name">
       <h1>Введите свою фамилию:</h1>
<input name="family">
<p></p>
<input type="submit" value="Регистрация" class="b1">
   </form>
    {% if wrong!='' %}
    <h1>{{wrong}}</h1>
    {% endif %}
    </body>
</html>